<?xml version="1.0" encoding="UTF-8"?>
<Settings>
	<version value="0.01" />
	<keyboard>
		<MouseSensitivity value="0.00249999994" />
		<InvertMouseY value="false" />
		<MouseSteering value="false" />
		<MouseFlying value="false" />
	</keyboard>
	<gamepad>
		<Controller value="0" />
		<InvertPadX1 value="false" />
		<InvertPadY1 value="false" />
		<InvertPadX2 value="false" />
		<InvertPadY2 value="false" />
		<SwapPadAxis1 value="false" />
		<SwapPadAxis2 value="false" />
	</gamepad>
	<audio>
		<SfxVolume value="92" />
		<RadioVolume value="92" />
		<RadioStation value="1" />
		<RadioAutoSelect value="false" />
		<RadioEQ value="false" />
		<TracksAutoScan value="false" />
		<RadioMode value="0" />
	</audio>
	<display>
		<Brightness value="256" />
		<Gamma value="0.486400008" />
		<Subtitles value="true" />
		<Language value="0" />
		<ShowHUD value="true" />
		<ShowRadar value="true" />
		<SavePhotos value="true" />
		<MapLegend value="true" />
		<GpsRoute value="true" />
		<SafeZoneSize value="0" />
		<MeasurementSystem value="0" />
	</display>
	<graphics>
		<VideoMode value="1" />
		<MipMapping value="true" />
		<AntiAliasing value="4" />
		<DrawDist value="1.79999995" />
		<VisualQuality value="3" />
		<Widescreen value="false" />
		<FrameLimiter value="true" />
	</graphics>
	<startup>
		<LandingPage value="true" />
	</startup>
	<misc>
		<UIMainColor value="HUD_COLOUR_MICHAEL" />
	</misc>
</Settings>
